name: Laravel Test

on:
  push:
    branches: ["master","action-test"]
jobs:
  # laravel9环境下安装测试
  laravel9:
    runs-on: ubuntu-latest

    steps:

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0',
          extensions: pdo_mysql,mysqli,mbstring,gd,curl,opcache,swoole,redis,yaml,imagick,pcntl,bcmath,mongodb,sockets,zip,rdkafka

      - uses: actions/checkout@v2

      - name: Composer Update
        run: composer self-update --2

      - name: Setup Mysql
        uses: mirromutth/mysql-action@v1.1
        with:
          mysql version:  5.7
          mysql root password: 123456
          mysql database: laravel
          mysql user: root
          mysql password: 124567
      - name: Install Dependencies
        run: composer create-project --prefer-dist laravel/laravel laravel-tests 9.*
      - name: Install ElAdmin
        run: sh ./tests/bin/install.sh
      - name: Install Xvfb
        run: sudo apt-get install xvfb

      - name: Start Server
        run: sh ./tests/bin/start.sh

      - name: Run test suite
        run: cd ./laravel-tests/el-admin && ./vendor/bin/phpunit tests/

